<div *ngIf="gameService.game" class="details">
  <div class="scores">
    <div [ngStyle]="{color:gameService.game.player1.color}" class="side">
      {{gameService.game.player1.name}} : {{gameService.game.getScore(0)}}
      <span>
        <span [ngStyle]="{'background-color':gameService.game.player1.color}"
              class="small-box">
        </span>
           {{gameService.game.player1.playerType}}</span>
      <button  (click)="play2()" *ngIf="isFirstPlayer()" mat-raised-button color="primary">Make Move</button>
    </div>
    <div [ngStyle]="{color:gameService.game.player2.color}" class="side">
      {{gameService.game.player2.name}} : {{gameService.game.getScore(1)}}
      <span><span [ngStyle]="{'background-color':gameService.game.player2.color}"
                  class="small-box"></span>    {{gameService.game.player2.playerType}}</span>
      <button (click)="play2()" *ngIf="isSecondPlayer()" mat-raised-button color="accent">Make Move</button>
    </div>
  </div>
  <mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="gameService.game && (gameService.game.blinker | async) as blinker" class="container">
  <div class="grid">
    <div class="row" *ngFor="let row of gameService.game.gameData; let i=index">
      <div *ngFor="let cell of row; let j= index" class="cell"
           [ngStyle]="{'border-color':gameService.game.currentPlayer.color, 'background-color':blinker.has(i+'-'+j)?cell.color:'transparent'}"
           (click)="gameService.game.click(i,j,true)">
        <span class="ball-img" [ngStyle]="gameService.game.getImageStyle(cell)" alt=""></span>
      </div>
    </div>
  </div>
</div>


