<div class="view">
  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <img src="assets/atom.svg" style="width: 50px;height: 50px;margin-right: 20px;" alt="Logo">
      <span style="font-size: 1.2rem; font-weight: bold">Chain Reaction with AI</span>
      <span class="flex-fill"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="gameService.game.reset()" mat-menu-item>
          <mat-icon>restart_alt</mat-icon>
          <span>Reset Game</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
